body{
    background-color: black;
}
#title{
    color: aliceblue;
}
.container{
    display: block;
    text-align: center;
    align-content: center;
    
}

.squares-item{
    background-color:black;
    padding: 5vh;
    font-size: 330%;
    font-style: oblique;
    font-style: bold;
    color: black;
    /* width: 200px; */
    display: block;
    text-align: center;
}
.board-container{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    align-self: center;
    align-items: center;
    max-width: 39vw;
    padding: auto;
    color: aliceblue;
    background: black;   
}
#square1{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
#square2{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
#square3{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}
#square4{
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
#square5{
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
#square6{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
#square7{
    border-top: 2px solid white;
    border-right: 2px solid white;
}
#square8{
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
}
#square9{
    border-left: 2px solid white;
    border-top: 2px solid white;
}
h4{
    color: aliceblue;
}

